/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart {
  margin: 1rem;
  text-align: center;
  font-size: 3rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #3172b3;
}
.nav-bar .nav-logo {
  font-size: 2rem;
}
.nav-bar .cart {
  margin: 0 25px;
  display: flex;
  align-items: center;
}
.nav-bar .cart .cart-icon {
  font-size: 2.5rem;
}
.nav-bar .cart .total-amount {
  position: relative;
  top: -0.9rem;
  right: 0.7rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
}

.cart-container {
  width: 50%;
  margin: 0 auto;
}
.cart-container h2 {
  text-align: center;
  font-size: 3rem;
  padding: 15px;
}

.cart-container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.cart-container .cart-item:hover {
  background: #f0f0f0;
}

.cart-container .cart-item img {
  width: 5rem;
}

.cart-container .cart-item .cart-item-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-item .cart-item-amount .amount-btn {
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: 50%;
}

.cart-container .cart-item .cart-item-amount .amount-btn:hover {
  color: #3172b3;
}

.cart-container .cart-item .remove-btn {
  background: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #ff7575;
  font-weight: bold;
}

.cart-container .cart-item .remove-btn:hover {
  background: #ff7575;
  color: #fff;
}

.cart-container footer {
  text-align: center;
  padding: 15px;
}

/* total price */
.cart-footer .cart-total {
  display: flex;
  justify-content: space-between;
}

.cart-footer .cart-total h4 {
  font-size: 1.25rem;
}

.cart-footer .cart-total span {
  font-size: 1.25rem;
  font-weight: 800;
}

/* clear-btn */
.cart-footer .clear-btn {
  font-size: 1.25rem;
  font-weight: 1000;
  padding: 15px;
  border-radius: 10px;
  border: none;
  /* background: #3172b3; */
  background: #ff7575;
  cursor: pointer;
}

.cart-footer .clear-btn:hover {
  background: #ffb5b5;
  color: #fff;
}
